<nav class = "navbar" >
    <ul class="list nav__list ">
        <li class="nav__item">    
            <a href=""target="_blank"> HOME </a></li>
        <li class="nav__item">   
            <a  href=""target="_blank">SKILLS</a> </li>
        <li class="nav__item"> 
            <a href=""target="_blank">SERVICES</a> </li>
        <li class="nav__item">  
            <a href=""target="_blank">PORTFOLIO</a> </li>
        <li class="nav__item ">    
            <a  href=""target="_blank">ABOUT</a> </li>
        <li class="nav__item ">  
            <a  href=""target="_blank">CONTACT</a> </li>
    </ul>
</nav>