
:root {
    --color-primary: #05131a;
     --color-secondary: rgb(37, 39, 41);
     --color-paragraph: #ffffff;
     --color-heading1: #ce1616;
     --color-heading2: rgb(185, 161, 27);
     --color-heading3: rgb(15, 2, 2);
     --color-hover: #4054B2;
     --color-focus: #23A455;
     --color-active: #000;
     --color-accent: #61CE70;
     --color-button:rgb(224, 163, 22);
     --color-tab1: rgb(189, 240, 244);
     --color-tab2: rgb(181, 236, 240);
     --color-tab3: rgb(182, 244, 239);
     --color-tab4: rgb(185, 235, 247);
     --border-radius:5rem ;
     --typography-font-family-calli: 'Calligraffitti', cursive;
     --typography-font-family-roboto: 'Roboto', sans-serif;
     --typography-font-family: 'Roboto Slab', serif;
     --typography-primary-font-family: "Roboto";
     --typography-primary-font-weight: 600;
     --typography-secondary-font-family-robotslab: "Roboto Slab";
     --typography-secondary-font-weight: 400;
     --typography-text-font-family: "Roboto";
     --typography-text-font-weight: 400;
     --typography-accent-font-family: "Roboto";
     --typography-accent-font-weight: 500;
 }

 

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
   
}
img{
    width:auto;
    
}
a{
text-decoration:none;
color:#ffff;
text-align: center;

}

/* Typography */
::selection {
    
    letter-spacing: 0.2rem;
  }
body{
    font-family: var(--typography-font-family-roboto);
    background-color:var(--color-primary);
   
    line-height: 1.5;
    color: rgb(250, 244, 244);
}
/* block */
.block{
   
    --padding-vertical: 2rem;
    padding: var(--padding-vertical) 2rem;
    
   
}
.banner__block-header{
    position: relative;
    text-transform: uppercase;
    justify-content: center;
    margin: 0rem 2rem 2rem;
  
}

.block__header {
   display: flex;
   margin: 2rem 0;
    text-transform: uppercase;
    justify-content: center; 

}

.container{
  max-width: 90%;
  margin:  0 auto;
}
.heading__h1{
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0;
    margin-bottom: 0;
    border: 0;
    padding-top: 10rem;
}
.heading__para {
    text-align: center;
    font-size: 2.0rem;
    margin-top: -4rem;
    padding-top: 1rem;
    font-weight: 400;
    word-spacing: 0.25em;

}
.banner__header{
    font-family: var(--typography-font-family-calli);
    font-size: 2.0rem ;
    font-weight: 300;
    color:var(--color-heading1);
    display:flex;
    gap:1.4rem;
    margin-top:0.3rem;
    margin-bottom: -0.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    
    text-transform: capitalize;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 500;
    font-size:2.4rem;
    color:#fff;
    line-height: 1.9;
    
    letter-spacing: 0.1em;
   
}

h1{
font-size: 6rem;



}

p{
    
    font-size:1rem;
  
    line-height: 1.9;
    
}
@media screen and (min-width: 1024px) {
    body {
      font-size: 1.25rem;
  }  
  .heading__h1{
    padding-top: 7rem;
    font-size: 11rem;
}
h2,h3,h4,h5,h6{
text-align: center;
justify-content: center;
font-size:3rem}

    .banner__header{
        font-size: 5rem;
    }
    .heading__para{
        font-size: 3rem;
    }
   
    p{
        
        font-size:1rem;
  }
}

/* list */

.list{
   padding-left: 0;
    list-style: none;

    

}


/* Navigation */
ul{
    display:flex;
    justify-content: space-evenly;
}
.navbar{
    background-color: #021823;
    width: 100%;
    position: fixed;
    overflow: hidden;
    padding:0.5rem;
    top:0;
   z-index: 1;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.5);

}

.nav_list{
    
    width:100%;
    margin: 0;
    
    
}

.nav__item  {
    
    text-align: center;
    align-items: center;
    font-size: 1rem;
   
    padding:1rem;
    letter-spacing: 1.5;
    

}

.nav__item:focus{
    text-decoration:1px solid  rgb(185, 161, 27);
}
.nav__item:hover{
 border-bottom: 0.2rem solid  rgb(255, 219, 12);
 
}
.nav__item:active{
    color: rgb(185, 43, 27);
}



/* Grids */

.grid{
    display:grid;
   
  
} 
@media screen and (min-width: 768px) {
    .grid--1x2 {
      grid-template-columns: repeat(2, 1fr);
      gap: 2% 0 ;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
      
        gap: 2% auto;
       
      }
    .grid--1x3 {
      grid-template-columns: repeat(3, 1fr);
    text-align: center;
      justify-items: center;
      justify-content: center;
      align-items: center;
      gap: 2% auto;
     
    }
  }

/* Section tabs */
.media{
    
    justify-content: space-around;
    justify-items: center;
    align-content: space-evenly
}
.tab{
   display: flex;
   width:30rem;
   height:20rem;
   padding: 2rem;
   text-align: center;
   justify-content: center;
   align-items: center;
    
}


.tab1{
    background-color: var(--color-tab1);
    
}
.tab2{
    background-color: var(--color-tab2);
}
.tab3{
    background-color: var(--color-tab3);
}
.tab4{
    background-color: var(--color-tab4);
}
.insta{
    padding-left:10rem;
    padding-right:10rem;
    
}
.tab:hover{
    opacity:0.6;
  
    transition: 0.2s ease-in ;
   

}
/* button */
.button {
  display: flex;  
  justify-content: center;
  margin:1rem;
}
.btn{
    display:flex;
    justify-content: center;
    align-content:space-evenly;
    align-items: center;
    height: 4rem;
    width: 15rem;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-family:var(--typography-accent-font-family) ;
    font-size: 1.5rem ;
    font-weight: 300;
    transition: transform 0.7s , ease-in-out , 0.3s , background-color 0.7s , color 0.7s ;
}

.btn:hover {
    transform: translatex(10px);
    
    transition: transform 0.7s linear , 0.7s , background-color 1s , color 1s ;
    
}
.btn__resume{
    width:30rem;
    
   
    background-color: rgb(224, 163, 22);
    color: rgb(10, 7, 65);
    letter-spacing: 0.04em;
    align-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;


}

/* images */
.portfolio__image{
    width:20rem;
    height:25rem;
    border:5px solid rgb(1, 11, 16);
    padding:5px;
    margin:2rem;
}

/* animation */

@keyframes slideInleft{
    0%{
        transform: translateX(0px);
        font-family: var(--typography-font-family-calli);
    }
    10%{
        transform: translateX(10px);
        font-family: var(--typography-font-family-calli);
    }

     25%{  
        font-family: var(--typography-font-family-calli);
        transform: translateX(10px) ;
        
       

    }
    35%{  
        font-family: var(--typography-font-family-calli);
        transform: translateX(10px) ;
    }
    

    50%{
        
        transform: translateX(-70px);
        font-weight:400;
    }

    55%{
        
        transform: translateX(-70px);
       
       
        font-weight:400;
    }
    65%{
        transform: translateX(-65px);
        font-family: "roboto";
        
       right:0;
        
       }

    75%{
        
        transform: translateX(-40px);
        font-family: "roboto";
        
        font-weight:400;
    }

    85%{
        
        transform: translateX(15px);
        font-family: "roboto";
        color: yellow;
        font-weight:400;
    }
    95%{
        
        transform: translateX(15px);
       
       
        font-weight:400;
    }
    100%{
        
        transform: translateX(-7px);
        font-family: "roboto";
        color: yellow;
        font-weight:400;
       
       
        
    }
}
@keyframes slideInright{
   0%{
        transform: translateX(200px);
        font-family: var(--typography-font-family-calli);
       
   }
   15%{
   
    transform: translateX(150px);
    font-family: var(--typography-font-family-calli);
    
   
    left:0;
    right:0;
   }
   25%{
    transform: translateX(100px);
    
    font-family: var(--typography-font-family-calli);
    
   
    left:0;
    right:0;
   }
   35%{
    transform: translateX(50px) ;
    
    font-family: var(--typography-font-family-calli);
    
   
    left:0;
    right:0;
   }
   45%{
    transform: translateX(-10px) ;
    
    font-family: var(--typography-font-family-calli);
    
   
    left:0;
    right:0;
   }

   50%{
    transform: translateX(-20px);
   
    color: yellow;
    left:0;
   }
   55%{
    transform: translateX(-15px);
   
    font-family:"roboto";
   right:0;
    
   }
   65%{
    transform: translateX(-15px);
   
    font-family:"roboto";
   right:0;
    
   }
   
   75%{
    transform: translateX(15px);
    
    
   right:0;
    
   }
   85%{
    transform: translateX(25px);
    
    
   right:0;
    
   }
   95%{
    transform: translateX(25px);
    
    
   right:0;
    
   }

    100%{
        transform: translateX(-9px);
       
        font-family:"roboto";
        font-weight:400;
        color: yellow;
    }
}

.banner__header-lastname{
    animation-name: slideInright ;
    animation-duration: 2.7s;
    animation-timing-function: linear;
    animation-delay: 0.7s;
    animation-iteration-count:normal;
    animation-direction: alternate;;
    animation-fill-mode: forwards;
    transform: translateX(45px);
    animation-timing-function: linear;
   transition-duration: 0.3s;
   
}
.banner__header-firstname{
    animation-name: slideInleft;
    animation-delay:0.8s ;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count:normal;
    animation-direction:alternate;;
    animation-fill-mode: forwards;
    transition:  translateX(50px) ;
}


.fa-brands{
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.6rem;
   
   text-align: right;
   
}



/* link */


/* Header block */

/* section block */
.about__section{

font-size: 1.2rem;
justify-content: center;

text-transform: none;

padding-top: 1rem ;
margin-right:1rem; 
letter-spacing: 0.0257em;
word-spacing: 0.025em;
}

.follow{
    margin-top:2rem;
    text-transform: uppercase;
}
.second__block{
   
   justify-items: center;
   text-align: center;
   
align-items: center;
justify-items: center
 

}
.about__tag{
    font-size: 1.5rem;
   
    opacity: 0.9;
    
    border-bottom: 1px solid yellow ;
    margin-bottom: 1rem;
   padding-top: 0.2rem;
   width:17rem;
   
   

}
.third__block{
    
   

 line-height: 1.9;
 font-size: 1.5rem;
 

  
  
}
  
   
  
  

@media screen and (min-width: 1024px) {
    .second__block{
       
        align-items:start;
        justify-content:center;
        justify-items: center;
        justify-self: center;
        align-items: center;
        align-content: space-evenly;
    }
    
    .third__block{
        
        justify-items: center;
       
    }

    .about__tag{
        
        margin-bottom: 15rem;
        text-transform: uppercase;
    }
}

/* Cards */
.card {
    border-radius: 4px;
    background: rgb(203, 158, 11);
    overflow: hidden;
    width:25rem;
    margin:1rem;
    text-align: center;
   
  }
.card__header{
    font-size: 1.7rem;
    padding-top:1rem;
   
}

  .card__header,
.card__body {
  padding: 1rem 7%;
 
  color:#fff;
}

.card--primary .card__header {
  background:rgb(203, 158, 11);
  color: rgb(0, 0, 0);
  
}

.card--secondary .card__header {
  background: rgb(203, 158, 11);
  color: rgb(20, 19, 19);
  
}


/* font icons */
.fa-circle-arrow-right{
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-self: center;
}
.fa-circle-arrow-right:hover{
    color:#05131a;
    opacity: 0.8;
    padding-left: 1rem;
    transition: 0.4s linear;
}
.card__body :hover{
    color:#4054B2;

}

/* experience */
.fourth__block{
   
    justify-content: center;
    text-transform: none;
    align-content: space-around;
    margin: 5rem;
    margin-bottom: 1rem;
}
.experience{
    
    justify-items: left ;
    text-align: left;
    letter-spacing: 0.15em;
}
.description{
    text-align: left;
    justify-items: left ;
    width: 50ch;

}
.job{
    border-top: 1px solid yellow;
    padding-top: 1rem;
    font-weight: 600 ;
}
.designation{
    font-weight: 400;
    font-size: 0.9rem;
    opacity: 0.8;
}
.date{
    font-weight: 200;
    font-size: 0.8rem;
   opacity: 0.5;
   
    
}
.company{
    font-weight: 300;
    font-size: 0.9rem;
    opacity: 0.7;
}
/* footer */ 

.footer{
    padding-top: 2rem;
    background-color: rgb(3, 25, 31);
    opacity: 0.9;
    

}
.footer__heading{
    padding-top: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    
}

.footer__banner{
font-size: 1.6rem;
line-height: 1.5;
text-transform: none;
font-weight: 300;
}
.social-links{
   font-size: 1.8rem;
   align-content: space-between;
  
}
.fa-brands:hover{
    color: rgb(224, 163, 22);
}