
:root {
   --color-primary:#2e0769;
     --color-secondary: rgb(37, 39, 41);
     --color-paragraph: #0f0e0e;
     --color-heading1: #2e0769;
     --color-heading2: #56bcdf;
     --color-heading3: rgb(15, 2, 2);
     --color-hover: #4054B2;
     --color-focus: #23A455;
     --color-active: #000;
     --color-accent: #61CE70;
     --color-button:rgb(224, 163, 22);
     --color-tab1: rgb(189, 240, 244);
     --color-tab2: rgb(181, 236, 240);
     --color-tab3: rgb(182, 244, 239);
     --color-tab4: rgb(185, 235, 247);
     --border-radius:5rem ;
     --typography-font-family-calli: 'Calligraffitti', cursive;
     --typography-font-family-roboto: 'Roboto', sans-serif;
     --typography-font-family: 'Roboto Slab', serif;
     --typography-primary-font-family: "Roboto";
     --typography-primary-font-weight: 600;
     --typography-secondary-font-family-robotslab: "Roboto Slab";
     --typography-secondary-font-weight: 400;
     --typography-text-font-family: "Roboto";
     --typography-text-font-weight: 400;
     --typography-accent-font-family: "Roboto";
     --typography-accent-font-weight: 500;
 }

 

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
   
}
img{
    width:auto;
    
}
a{
text-decoration:none;
color: rgb(10, 7, 65);
text-align: center;


}

/* Typography */
::selection {
    
    letter-spacing: 0.2rem;
  }
body{
    font-family: var(--typography-font-family-roboto);
    background: rgb(63,190,251);
background: radial-gradient(circle, rgba(63,190,251,1) 0%, rgba(162,229,237,1) 0%, rgba(240,234,244,1) 100%);
    line-height: 1.5;
 color: rgb(10, 7, 65);
}
/* block */
.block{
   
    --padding-vertical: 2rem;
    padding: var(--padding-vertical) 2rem;
    
   
}
.banner__block-header{
    position: relative;
    text-transform: uppercase;
    justify-content: center;
    
  
}

.block__header {
   display: flex;
   margin: 2rem 0;
    text-transform: uppercase;
    justify-content: center; 

}

.container{
  max-width: 90%;
  margin:  0 auto;
}


.heading__h1{
    color:#2e0769;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0;
    margin-bottom: 0;
    border: 0;
    
}
.heading__para {
    color:#2e0769;
    text-align: center;
    font-size: 2.0rem;
    margin-top: -4rem;
    padding-top: 1rem;
    font-weight: 400;
    word-spacing: 0.20em;

}
.banner__header{
    font-family: var(--typography-font-family-calli);
    font-size: 2.0rem ;
    font-weight: 300;
    color:var(--color-heading1);
    display:flex;
    gap:1.4rem;
    margin-top:0.3rem;
    margin-bottom: -0.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    
    text-transform: capitalize;
}

h2,h3,h4,h5,h6{
    font-weight: 500;
    font-size:2.4rem;
    color:#061d5e;
    line-height: 1.9;
    
    letter-spacing: 0.05em;
   
}



p{
    
    font-size:1rem;
  
    line-height: 1.9;
    
}

/* Hero */
.hero__content {
  
    align-self: left;
  }
  .hero__image{
   
    width:100%;
    padding-top: 3rem;
    padding-right: 0;
   
    
  }
@media screen and (min-width: 1024px) {
    body {
      font-size: 1.25rem;
  }  
  .heading__h1{
   
   padding-bottom: 1rem;
    font-size: 5rem;
}
h2,h3,h4,h5,h6{
text-align: center;
justify-content: center;
font-size:3rem;
}


.banner__block-header{
padding: 2rem;
}

    .banner__header{
        font-size: 3rem;
    }
    .heading__para{
        font-size: 2rem;
    }
   
    p{
        
        font-size:1rem;
  }

.banner{
   margin-top: 10rem;
}
  .hero__content {
  
    align-items: left;
  }
  .hero__image{
   
    width:100%;
    padding-top: 3rem;
    padding-right: 0;
   
    
  }
}

/* list */

.list{
   padding-left: 0;
    list-style: none;





    align-items: center;
    

}


/* Navigation */
ul{
    display:flex;
    justify-content: space-evenly;
}
.navbar{
    background-color: #021823;
    width: 100%;
    position: fixed;
    overflow: hidden;
    padding:0.5rem;
    top:0;
   z-index: 1;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.5);

}

.nav_list{
    
    width:100%;
    margin: 0;
    
    
}

.nav__item  {
    
    text-align: center;
    align-items: center;
    font-size: 1rem;
   
    padding:1rem;
    letter-spacing: 1.5;
    

}

.nav__item:focus{
    text-decoration:1px solid  rgb(185, 161, 27);
}
.nav__item:hover{
 border-bottom: 0.2rem solid  rgb(255, 219, 12);
 
}
.nav__item:active{
    color: rgb(185, 43, 27);
}



/* Grids */

.grid{
    display:grid;
    justify-items: center;
   
  
} 
@media screen and (min-width: 768px) {
    .grid--1x2 {
      grid-template-columns: repeat(2, 1fr);
      gap: 2% 0 ;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
        
      text-align: left;
        gap: 2% 0;
       
      }
    .grid--1x3 {
      grid-template-columns: repeat(3, 1fr);
     text-align: center;
      justify-items: center;
      justify-content: center;
      align-items: center;
      gap: 2% auto;
     
    }
    .grid--1x4 {
        grid-template-columns: repeat(2, 1fr);
       text-align: left;
        justify-items: left;
        justify-content:left;
        align-items: left;
        gap: 2% auto;
       
      }
  }

/* Section tabs */
.media{
    justify-items: center;
  
    justify-content: space-around;
    justify-items: center;
    align-content: space-evenly
}
.tab{
    display: flex;
    flex-direction: column;
   width:30rem;
   height:20rem;
   margin: 2rem 2rem 1rem 0;
   border-radius: 0.6rem;
   padding: 2rem;
   text-align: center;
   justify-content: center;
   align-items: center;
   background: rgb(83,119,195);
   background: linear-gradient(299deg, rgba(83,119,195,1) 0%, rgba(136,219,231,1) 45%, rgba(170,216,233,1) 100%);
box-shadow: 0 4px 30px rgba(103, 155, 195, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.377);
    
}



.insta{
    padding-left:10rem;
    padding-right:10rem;
    
}
.tab:hover{
    opacity:0.6;
  
    transition: 0.2s ease-in ;
   

}

.img__caption {
display:inline-flex;
flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;

  
}
.img__caption:hover{
    color: rgb(224, 163, 22);
}

/* button */
.button {
  display: flex;  
  justify-content: center;
  margin:1rem;
}
.btn{
    display:flex;
    justify-content: center;
    align-content:space-evenly;
    align-items: center;
    height: 4rem;
    width: 15rem;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-family:var(--typography-accent-font-family) ;
    font-size: 1.5rem ;
    font-weight: 300;
    transition: transform 0.7s , ease-in-out , 0.3s , background-color 0.7s , color 0.7s ;
}

.btn:hover {
    transform: translatex(10px);
    
    transition: transform 0.7s linear , 0.7s , background-color 1s , color 1s ;
    
}
.btn__resume{
    width:30rem;
    
   
    background-color:#a2e5ed;
    color: rgb(10, 7, 65);
    letter-spacing: 0.04em;
    align-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;


}

/* images */
.portfolio__image{
    width:20rem;
    height:25rem;
    border:5px solid rgb(1, 11, 16);
    padding:5px;
    margin:2rem;
}

/* animation */

@keyframes slideInleft{
    0%{
        transform: translateX(0px);
        font-family: var(--typography-font-family-calli);
    }
    10%{
        transform: translateX(10px);
        font-family: var(--typography-font-family-calli);
    }

     25%{  
        font-family: var(--typography-font-family-calli);
        transform: translateX(10px) ;
       
       

    }
    35%{  
        font-family: var(--typography-font-family-calli);
        transform: translateX(10px) ;
       
    }
    

    50%{
        
        transform: translateX(-70px);
        font-weight:400;
        color: #56bcdf;
    }

    55%{
        
        transform: translateX(-70px);
       
       
        font-weight:400;
    }
    65%{
        transform: translateX(-65px);
        font-family: "roboto";
        
       right:0;
        
       }

    75%{
        
        transform: translateX(-40px);
        font-family: "roboto";
        
        font-weight:400;
    }

    85%{
        
        transform: translateX(15px);
        font-family: "roboto";
        color:#2e0769;
        font-weight:400;
    }
    95%{
        
        transform: translateX(15px);
       
       
        font-weight:400;
    }
    100%{
        
        transform: translateX(-7px);
        font-family: "roboto";
        color: #2e0769;
        font-weight:400;
       
       
        
    }
}
@keyframes slideInright{
   0%{
        transform: translateX(200px);
        font-family: var(--typography-font-family-calli);
       
   }
   15%{
   
    transform: translateX(150px);
    font-family: var(--typography-font-family-calli);
    
   
    left:0;
    right:0;
   }
   25%{
    transform: translateX(100px);
    
    font-family: var(--typography-font-family-calli);
    
   
    left:0;
    right:0;
   }
   35%{
    transform: translateX(50px) ;
    
    font-family: var(--typography-font-family-calli);
    
   
    left:0;
    right:0;
   }
   45%{
    transform: translateX(-10px) ;
    
    font-family: var(--typography-font-family-calli);
    
   
    left:0;
    right:0;
   }

   50%{
    transform: translateX(-20px);
   
    color: #2e0769;
    left:0;
   }
   55%{
    transform: translateX(-15px);
   
    font-family:"roboto";
   right:0;
    
   }
   65%{
    transform: translateX(-15px);
   
    font-family:"roboto";
   right:0;
    
   }
   
   75%{
    transform: translateX(15px);
    
    
   right:0;
    
   }
   85%{
    transform: translateX(25px);
    
    
   right:0;
    
   }
   95%{
    transform: translateX(25px);
    
    
   right:0;
    
   }

    100%{
        transform: translateX(-9px);
       
        font-family:"roboto";
        font-weight:400;
        color: #2e0769;
    }
}

.banner__header-lastname{
    animation-name: slideInright ;
    animation-duration: 2.7s;
    animation-timing-function: linear;
    animation-delay: 0.7s;
    animation-iteration-count:normal;
    animation-direction: alternate;;
    animation-fill-mode: forwards;
    transform: translateX(45px);
    animation-timing-function: linear;
   transition-duration: 0.3s;
   
}
.banner__header-firstname{
    animation-name: slideInleft;
    animation-delay:0.8s ;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count:normal;
    animation-direction:alternate;;
    animation-fill-mode: forwards;
    transition:  translateX(50px) ;
}


.fa-brands{
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.6rem;
   
   text-align: right;
   
}



/* link */


/* Header block */

/* section block */
.about__section{

font-size: 1rem;
justify-content: center;
text-align: justify;
font-weight: 300;
text-transform: none;

padding-top: 1rem ;
margin-right:1rem; 
letter-spacing: 0.0500em;
word-spacing: 0.005em;
}

.follow{
    margin-top:2rem;
   font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
    justify-self: center;
    align-items: center;
    padding-top: 2rem;
}
.second__block{
   display: flex;
   justify-items: center;
   text-align: center;
   
  

 

}
.about__tag{
    font-size: 1.7rem;
    text-align: center;
   display: inline-flex;
    opacity: 0.9;
    border-bottom: 1px solid yellow ;
    
   padding-top: 0.2rem;
 
   
   

}
.third__block{
    
   

 line-height: 1.9;
 font-size: 1.5rem;
 

  
  
}
  
   
  
  

@media screen and (min-width: 1024px) {
    .second__block{
       
        align-items:start;
        justify-content:center;
        justify-items: center;
        justify-self: center;
        align-items: center;
        align-content: space-evenly;
    }
    
    .third__block{
        
        justify-items: center;
       
    }

    .about__tag{
        
      
        text-transform: uppercase;
    }
    .fourth__block{
        padding: 2rem 5rem 0 12rem;
    }
    .experience{
        display:flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        
    }
    .description .job-description{
        margin-top: 2rem;
       text-align: left;
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
    }
    .descp {
        text-align: left;
        margin-top:0.5rem;
        padding-left: 1rem;
        flex-direction: column;
      

    }

    .job-description--small{
       padding-top: 2rem;
    }



.follow{

    text-align: center;
}
}

/* Cards */
.card {
    border-radius: 1rem;
    background: rgb(83,119,195);
    background: linear-gradient(299deg, rgba(83,119,195,1) 0%, rgba(136,219,231,1) 45%, rgba(170,216,233,1) 100%);
box-shadow: 0 4px 30px rgba(40, 131, 200, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.377);
    overflow: hidden;
    width:20rem;
    margin:1rem;
    text-align: center;
   
  }
.card__header{
    font-size: 1.7rem;
    padding-top:1rem;
   
}

  .card__header,
.card__body {
  padding: 1rem 7%;
 
  color:#fff;
}

.card--primary .card__header {
 
  color: rgb(0, 0, 0);
  
}

.card--secondary .card__header {
  
  color: rgb(20, 19, 19);
  
}


/* font icons */
.fa-circle-arrow-right{
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-self: center;
}
.fa-circle-arrow-right:hover{
    color:#05131a;
    opacity: 0.8;
    padding-left: 1rem;
    transition: 0.4s linear;
}
.card__body :hover{
    color:#4054B2;

}

/* experience */
.fourth__block{
   
    justify-content: center;
    text-transform: none;
    
    
    margin: 2rem;
}
.experience{
    margin:2rem;
    justify-items: center;
    text-align: center;
    letter-spacing: 0.15em;
}
.description{
    text-align: center;
    margin: 0 3rem 0 3rem;
    padding: 0rem 3rem 0rem 3rem;
    opacity: 0.8;
    

}
.job{
    border-top: 1px solid yellow;
    padding-top: 1rem;
    font-weight: 600 ;
}
.designation{
    font-weight: 400;
    font-size: 0.9rem;
    opacity: 0.8;
}
.date{
    font-weight: 200;
    font-size: 0.8rem;
   opacity: 0.7;
   
   
    
}
.job-description{
   
    text-align: center;
    justify-content: center ;
    align-items:center;
    font-weight: 300;
    
}
.company{
    font-weight: 300;
    font-size: 0.9rem;
    opacity: 0.8;
}
.descp {
    flex-direction: column;
    align-items: left;
    text-align: left;
    font-size: 0.8rem;
   padding-left: 3rem;
   gap:1rem;
  
}
/* footer */ 

.footer{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    background: rgb(179,193,223);
background: linear-gradient(299deg, rgba(179,193,223,1) 0%, rgba(136,219,231,1) 45%, rgba(170,216,233,1) 100%);
    opacity: 0.9;
    

}
.footer__heading{

    font-size: 2.5rem;
    font-weight: 600;
    
}

.footer__banner{
font-size: 1.6rem;
line-height: 1.5;
text-transform: none;
font-weight: 300;
}
.social-links{
    display: flex;
    flex-wrap: nowrap;

    padding-top: 4rem;
   font-size: 1.8rem;
   align-content: space-between;
  
}
.fa-brands:hover {
    color: rgb(224, 163, 22);
}
.fa-arrow-up:hover{
    color: rgb(224, 163, 22);
}
.fa-arrow-up{
    margin: 1rem;

}

.email__address:hover{
    color: rgb(224, 163, 22);
}